@import "true";
@import "../tools/tools.flex";

$flex-positions: (
  "centered": "centered",
  "centered-v": "centered-v",
  "centered-h": "centered-h",
  "lock-left": "lock-left",
  "lock-right": "lock-right",
  "lock-top": "lock-top",
  "lock-bottom": "lock-bottom",
  "lock-top-left": "lock-top-left",
  "lock-top-right": "lock-top-right",
  "lock-bottom-left": "lock-bottom-left",
  "lock-bottom-right": "lock-bottom-right",
);

@include test-module("[mixin] inuit-flex-position") {
  @each $position, $positionValue in $flex-positions {
    @include test("it should output value '#{$position}' for flex-position") {
      @include assert() {
        @include output {
          .output {
            @include inuit-flex-position($position);
          }
        }
        @include expect {
          .output {
            @if $position == "centered" {
              align-items: center;
              justify-content: center;
            }
            @else if $position == "centered-v" {
              align-items: center;
            }
            @else if $position == "centered-h" {
              justify-content: center;
            }
            @else if $position == "lock-left" {
              align-content: center;
              align-items: center;
              justify-content: flex-start;
            }
            @else if $position == "lock-right" {
              align-content: center;
              align-items: center;
              justify-content: flex-end;
            }
            @else if $position == "lock-top" {
              align-content: flex-start;
              align-items: flex-start;
              justify-content: center;
            }
            @else if $position == "lock-bottom" {
              align-content: flex-end;
              align-items: flex-end;
              justify-content: center;
            }
            @else if $position == "lock-top-left" {
              align-content: flex-start;
              align-items: flex-start;
              justify-content: flex-start;
            }
            @else if $position == "lock-top-right" {
              align-content: flex-start;
              align-items: flex-start;
              justify-content: flex-end;
            }
            @else if $position == "lock-bottom-left" {
              align-content: flex-end;
              align-items: flex-end;
              justify-content: flex-start;
            }
            @else if $position == "lock-bottom-right" {
              align-content: flex-end;
              align-items: flex-end;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}
