@import "true";
@import "../utilities/utilities.widths";

@include test-module("[mixin] flexwidths") {
  @include test("it should output fractional width classes for a given set of denominations") {
    @include assert() {
      @include output {
        @include inuit-flexwidths(1 2 3);
      }

      @include expect {
        .u-1\/1 {
          flex: 0 0 100% !important;
          max-width: 100% !important;
        }
        .u-1\/2 {
          flex: 0 0 50% !important;
          max-width: 50% !important;
        }
        .u-2\/2 {
          flex: 0 0 100% !important;
          max-width: 100% !important;
        }
        .u-1\/3 {
          flex: 0 0 33.33333% !important;
          max-width: 33.33333% !important;
        }
        .u-2\/3 {
          flex: 0 0 66.66667% !important;
          max-width: 66.66667% !important;
        }
        .u-3\/3 {
          flex: 0 0 100% !important;
          max-width: 100% !important;
        }
      }
    }
  }
}
